USE [master]
GO
/****** Object:  Database [TaskAPIDB]    Script Date: 30/06/2025 11:03:27 ******/
CREATE DATABASE [TaskAPIDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskAPIDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TaskAPIDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskAPIDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TaskAPIDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskAPIDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskAPIDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/06/2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskData]    Script Date: 30/06/2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [nvarchar](max) NOT NULL,
	[FinishDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedUser] [int] NOT NULL,
	[UpdatedUser] [int] NULL,
 CONSTRAINT [PK_TaskData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30/06/2025 11:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedUser] [int] NOT NULL,
	[UpdatedUser] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250628020501_initial', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250630023302_30062025', N'9.0.6')
GO
SET IDENTITY_INSERT [dbo].[TaskData] ON 

INSERT [dbo].[TaskData] ([Id], [TaskName], [FinishDate], [Description], [Status], [IsDeleted], [CreatedAt], [UpdatedAt], [CreatedUser], [UpdatedUser]) VALUES (1, N'Task 01', CAST(N'2025-07-10T02:33:01.7166182' AS DateTime2), N'Task 01 description', N'Pending', 0, CAST(N'2025-06-30T02:33:01.7166601' AS DateTime2), NULL, 1, NULL)
INSERT [dbo].[TaskData] ([Id], [TaskName], [FinishDate], [Description], [Status], [IsDeleted], [CreatedAt], [UpdatedAt], [CreatedUser], [UpdatedUser]) VALUES (2, N'Task 02', CAST(N'2025-07-10T02:33:01.7166182' AS DateTime2), N'Task 01 description', N'Pending', 0, CAST(N'2025-06-30T02:33:01.7166601' AS DateTime2), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[TaskData] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [Password], [FirstName], [IsDeleted], [CreatedAt], [UpdatedAt], [CreatedUser], [UpdatedUser]) VALUES (1, N'admin', N'Abcd@123', N'Admin', 0, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
